.controls {
    display: flex;
    gap: 1rem;
}

.card {
    background: rgb(61, 61, 61);
    color: #d4d3d3;
    border: 0px solid gray;
    transition: all .5s ease;
    cursor: pointer;
}

.card-title{
    color: #e4e4e4;
    font-weight: 600;
}

.card-text {
    color: #cecece;
    font-weight: 400;
}