<div class="appRootContainer">
  <app-loading-layer [loading]="loading"></app-loading-layer>

  <app-header-bar 
    (onSearchSubmit)="onSearchTextChanged($event)"
    (onTeamChanged)="onTeamSelectionChanged($event)"
    [selectedContact]="this.selectedContact" 
    [teams]="this.teams">
  </app-header-bar>

  <div class="cardRootContainer">
    <app-contact-card *ngFor="let contact of contacts | teamFilter:this.selectedTeam ?? '' | contactSearch:this.searchText:this.searchCounter | contactSort:'ASC'"
      [contact]="contact"
      (selectedContactChanged)="onSelectedContactChanged($event)"
      (contactToEditChanged)="onContactToEditChanged($event)"
      (contactToDeleteChanged)="onContactToDeleteChanged($event)"
    >
    </app-contact-card>
    <app-no-displayable-item *ngIf="!searchText && (!contacts || contacts.length === 0)" text="Sie haben noch keine Kontakte. Fügen Sie welche hinzu."></app-no-displayable-item>
    <app-no-displayable-item *ngIf="contacts && searchText.length > 0 && this.searchCounter.count === 0" text="Es konnte kein passender Kontakt gefunden werden."></app-no-displayable-item>
    <app-contact-add-form [formId]="'add-contact-form'" (formEvent)="addContact($event)"></app-contact-add-form>
    <app-contact-delete-form [contactToDelete]="this.contactToDelete" (onDeleteSubmit)="removeContactToDelete($event)"></app-contact-delete-form>
    <app-contact-edit-form [contactToEdit]="this.contactToEdit" (onEditSubmit)="editContact($event)"></app-contact-edit-form>
  </div>
</div>
